{{!< default}}
<article class="row {{post_class}}" role="main">
	{{#post}}
	<header>
		<h1>{{{title}}}</h1>
		{{#if author}}
		<p>Post by {{author.name}}</p>
		{{/if}}
		<p class="post-time"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></p>
		{{#if tags}}
		<p class="f-post-tags"><i class="fa fa-tag"></i> {{tags}}</p>
		{{/if}}
	</header>
	<section>
		{{content}}
	</section>
	<section id="social_buttons">
		<a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank" aria-label="">
		  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
		  	<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
					<svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g>
							<path d="M18.768,7.465H14.5V5.56c0-0.896,0.594-1.105,1.012-1.105s2.988,0,2.988,0V0.513L14.171,0.5C10.244,0.5,9.5,3.438,9.5,5.32 v2.145h-3v4h3c0,5.212,0,12,0,12h5c0,0,0-6.85,0-12h3.851L18.768,7.465z"/>
						</g>
					</svg>
				</div>
		  </div>
		</a>
		<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Share&amp;url={{url absolute="true"}}" target="_blank" aria-label="">
		  <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
		  	<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
					<svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g>
							<path d="M23.444,4.834c-0.814,0.363-1.5,0.375-2.228,0.016c0.938-0.562,0.981-0.957,1.32-2.019c-0.878,0.521-1.851,0.9-2.886,1.104 C18.823,3.053,17.642,2.5,16.335,2.5c-2.51,0-4.544,2.036-4.544,4.544c0,0.356,0.04,0.703,0.117,1.036 C8.132,7.891,4.783,6.082,2.542,3.332C2.151,4.003,1.927,4.784,1.927,5.617c0,1.577,0.803,2.967,2.021,3.782 C3.203,9.375,2.503,9.171,1.891,8.831C1.89,8.85,1.89,8.868,1.89,8.888c0,2.202,1.566,4.038,3.646,4.456 c-0.666,0.181-1.368,0.209-2.053,0.079c0.579,1.804,2.257,3.118,4.245,3.155C5.783,18.102,3.372,18.737,1,18.459 C3.012,19.748,5.399,20.5,7.966,20.5c8.358,0,12.928-6.924,12.928-12.929c0-0.198-0.003-0.393-0.012-0.588 C21.769,6.343,22.835,5.746,23.444,4.834z"/>
						</g>
					</svg>
				</div>
		  </div>
		</a>
		<a class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title=Share&amp;summary=Share&amp;source={{url absolute="true"}}" target="_blank" aria-label="">
		  <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small">
		  	<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
					<svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<g>
							<path d="M6.527,21.5h-5v-13h5V21.5z M4.018,6.5H3.988C2.478,6.5,1.5,5.318,1.5,4.019c0-1.329,1.008-2.412,2.547-2.412 c1.541,0,2.488,1.118,2.519,2.447C6.565,5.354,5.588,6.5,4.018,6.5z M15.527,12.5c-1.105,0-2,0.896-2,2v7h-5c0,0,0.059-12,0-13h5 v1.485c0,0,1.548-1.443,3.938-1.443c2.962,0,5.062,2.144,5.062,6.304V21.5h-5v-7C17.527,13.396,16.632,12.5,15.527,12.5z"/>
						</g>
					</svg>
				</div>
		  </div>
		</a>
		<a class="resp-sharing-button__link" href="mailto:?subject=Share&amp;body={{url absolute="true"}}" target="_blank" aria-label="">
		  <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small">
		  	<div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
					<svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
						<path d="M22,4H2C0.897,4,0,4.897,0,6v12c0,1.103,0.897,2,2,2h20c1.103,0,2-0.897,2-2V6C24,4.897,23.103,4,22,4z M7.248,14.434 l-3.5,2C3.67,16.479,3.584,16.5,3.5,16.5c-0.174,0-0.342-0.09-0.435-0.252c-0.137-0.239-0.054-0.545,0.186-0.682l3.5-2 c0.24-0.137,0.545-0.054,0.682,0.186C7.571,13.992,7.488,14.297,7.248,14.434z M12,14.5c-0.094,0-0.189-0.026-0.271-0.08l-8.5-5.5 C2.997,8.77,2.93,8.46,3.081,8.229c0.15-0.23,0.459-0.298,0.691-0.147L12,13.405l8.229-5.324c0.232-0.15,0.542-0.084,0.691,0.147 c0.15,0.232,0.083,0.542-0.148,0.691l-8.5,5.5C12.189,14.474,12.095,14.5,12,14.5z M20.934,16.248 C20.842,16.41,20.673,16.5,20.5,16.5c-0.084,0-0.169-0.021-0.248-0.065l-3.5-2c-0.24-0.137-0.323-0.442-0.186-0.682 s0.443-0.322,0.682-0.186l3.5,2C20.988,15.703,21.071,16.009,20.934,16.248z"/>
					</svg>
				</div>
		  </div>
		</a>
	</section>
	{{/post}}
</article>
<aside class="read-next">
	{{#next_post}}
	<a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
		<section class="post">
			<h2>{{title}}</h2>
			<p>{{excerpt words="19"}}&hellip;</p>
		</section>
	</a>
	{{/next_post}}
	{{#prev_post}}
	<a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
		<section class="post">
			<h2>{{title}}</h2>
			<p>{{excerpt words="19"}}&hellip;</p>
		</section>
	</a>
	{{/prev_post}}
</aside>
<script>hljs.initHighlightingOnLoad();</script>